[submodule "_rosdistro"]
	path = _rosdistro
	url = https://github.com/ros/rosdistro.git
[submodule "_deploy"]
	path = _deploy
	url = git@github.com:rosindex/rosindex.github.io.git
[submodule "_ruby_libs/svn_wc"]
	path = _ruby_libs/svn_wc
	url = https://github.com/jbohren-forks/svn_wc
[submodule "js/venn.js"]
	path = js/venn.js
	url = https://github.com/benfred/venn.js
[submodule "_caches"]
	path = _caches
	url = git@github.com:rosindex/caches.git
