[submodule "_rosdistro"]
	path = _rosdistro
	url = https://github.com/ros/rosdistro.git
[submodule "_deploy"]
	path = _deploy
	url = git@github.com:rosindex/rosindex.github.io.git
[submodule "_ruby_libs/svn_wc"]
	path = _ruby_libs/svn_wc
	url = https://github.com/jbohren-forks/svn_wc
