

<div id="distro-switch" class="btn-group btn-group-justified" data-toggle="buttons">
  {% for distro in site.distros %}
    <label id="{{ distro }}-option" class="distro-button btn btn-xs btn-primary" href="#{{ distro }}" data="{{ distro }}">
      <input type="radio" name="options" id="{{ distro }}-radio" autocomplete="off"> {{ distro }}
    </label>
  {% endfor %}

  <!-- Older distros -->
  <div class="btn-group dropdown">
  <label type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" id="older-distro-button">
    <input type="radio" name="options" autocomplete="off">
    <span id="older-label">Older</span>
    <span class="caret"></span>
  </label>
  <ul class="dropdown-menu" role="menu">
    {% for distro in site.old_distros %}
      <li data="{{ distro }}" id="{{ distro }}-option" class="older-distro-option"  href="#{{ distro }}">
      <a data="{{ distro }}" id="{{ distro }}-button">{{ distro }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
</div>
