<header class="site-header">

  <div class="wrapper">
    <div class="container-fluid" style="margin-bottom: 10px">
      <div class="row">


        <div class="col-sm-12 col-md-9" style="margin-top: 8px">
          <div class="row">
            <!-- title -->
            <div class="col-xs-12 col-sm-3 col-md-3" style="white-space:nowrap;">
              <a class="site-title" href="/">{{ site.title }}</a> <sup><a href="https://github.com/rosindex/rosindex/issues/new" style="vertical-align:super;" class="label label-warning" target="_blank">BETA</a></sup>
            </div>

            <!-- main links -->
            <div class="col-xs-12 col-sm-9 col-md-9 text-right">
              <ul class="list-inline" style="margin-bottom:0px;">
                <li><a class="btn btn-link" href="/about">About</a></li>

                <li class="dropdown">
                  <button id="dLabel" class="btn btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Index <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="/packages/page/1/time/">Package List</a></li>
                    <li><a href="/repos/page/1/time/">Repository List</a></li>

                    <li class="divider"></li>

                    <li class="disabled"><a href="/srvs/">Nodes</a></li>
                    <li class="disabled"><a href="/msgs/">Messages</a></li>
                    <li class="disabled"><a href="/srvs/">Services</a></li>
                    <li class="disabled"><a href="/srvs/">Plugins</a></li>

                    <li class="divider"></li>

                    <li><a href="/deps/">System Dependencies</a></li>
                  </ul>
                </li>

                <li class="dropdown disabled">
                  <button id="dLabel" class="btn btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Doc <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li class="disabled"><a href="/categories/">Categories</a></li>
                    <li class="disabled"><a href="/tutorials">Tutorials</a></li>
                    <li class="disabled"><a href="/readmes">Readmes</a></li>
                    <li class="disabled"><a href="/apis">APIs</a></li>
                  </ul>
                </li>

                <li><a class="btn btn-link" href="/contribute">Contribute</a></li>
                <li><a class="btn btn-link" href="/stats">Stats</a></li>
              </ul>

            </div>
          </div>
        </div>

        <!-- searchbox -->
        <div class="col-sm-12 col-md-3" style="margin-top: 12px">
          <form action="/search/" role="form">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" name="q" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        <a class="page-link" href="/packages">Packages</a>
        <a class="page-link" href="/repos">Repositories</a>
        <a class="page-link" href="/search">Search</a>
      </div>
    </nav>
    -->

  </div>

</header>
