
<div id="repo-switch" class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <div class="dropdown">
      <! -- TODO: add disabled when only 1 version is known -->
      <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        <span class="pull-left">
          <span class="glyphicon glyphicon-{% if page.repo.default == page.instance.name %}star{% else %}none{% endif %}"></span>
          {{ page.instance.name }} - {{page.instance.uri}}
        </span>
        <span class="pull-right"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {% for instance in page.instances %}
          <li role="presentation">
          <a id="{{instance[0]}}" role="menuitem" tabindex="-1" href="/{{page.instance_base}}/{{instance[0]}}" data="{{instance[0]}}">
              <span class="glyphicon glyphicon-{% if page.repo.default == instance[0] %}star{% else %}none{% endif %}"></span>
              {{instance[0]}} ( {{instance[1].uri}} )
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
