{% comment %}
Assumes the following are defined:
 - package
 - instance
 - distro
 - show_repo
{% endcomment %}

{% if show_repo %}
  <div class="top-buffer">
    <h5>
      <a href="/r/{{ package.repo.name }}/{{ package.repo.id }}"><img style="width: 30px; margin-left: 10px; margin-right: 5px;" src="/assets/repo.png">{{ package.repo.name }}</a>
      <small>repository</small>
    </h5>
  </div>
{% endif %}
<div class="">
  <h3 style="margin-top: 5px">
    <a href="/p/{{package.name}}"><img style="width: 50px; margin-right: 5px;" src="/assets/package.png">{{package.name}}</a> <small>package {{package.data.version}}</small>
  </h3>
</div>
<div class="top-buffer">
  <div class="text-left">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <a href="http://docs.ros.org/{{distro}}/api/{{page.package_name}}/html/" type="button" class="btn btn-default {% unless package.snapshot.released %}inactive{% endunless %}"><span class="glyphicon glyphicon-file"></span> API</a>
      <a href="{{ package.repo.uri }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-leaf"></span> Source</a>
      <a href="http://answers.ros.org/questions/scope:all/sort:activity-desc/tags:{{page.package_name}}/page:1/" type="button" class="btn btn-default"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a>
      <a href="http://wiki.ros.org/{{page.package_name}}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span> ROS Wiki</a>
      <a type="button" class="btn inactive btn-default"><span class="glyphicon glyphicon-fire"></span> CI</a>
    </div>
  </div>
</div>
<div class="top-buffer distro distro-{{distro}}">
  {% include instance_switch.html %}
</div>
