{% comment %}
Assumes distro and package are defined
{% endcomment %}
<ul class="nav nav-tabs" id="{{distro}}-tabs" style="margin-bottom:20px">
  <li class="active">
    <a href="#{{distro}}-overview" data-toggle="tab">Overview</a>
  </li>
  <li>
    {% assign n_launch = package.data.launch_files | size %}
    {% assign n_msgs = package.data.msg_files | size %}
    {% assign n_srvs = package.data.srv_files | size %}
    {% assign n_assets = n_launch | plus: n_srvs | plus: n_msgs %}
    <a href="#{{distro}}-assets" data-toggle="tab"><span class="label label-{%if n_assets == 0%}default{%else%}primary{%endif%}">{{n_assets}}</span> Assets</a>
  </li>
  <li>
  {% assign n_deps = package.data.deps | size %}
<a href="#{{distro}}-deps" data-toggle="tab"><span class="label label-{%if n_deps == 0%}default{%else%}primary{%endif%}">{{n_deps}}</span> Dependencies</a>
  </li>
  <li>
  <a href="#{{distro}}-tutorials" data-toggle="tab"><span class="label label-default">0</span> Tutorials</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="{{distro}}-overview">
    <div class="row">
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Package Summary</h3></div>
          <div class="panel-body">
            {{ package.data.description}}
          </div>
          <div class="panel-heading"><h3 class="panel-title">Status</h3></div>
          <div class="panel-body" style="overflow-x: auto">
            <table class="table table-condensed">
              <tr>
                <td class="text-right"><b>Source URI</b></td>
                <td width="100%"><a class="label label-default" href="{{package.repo.uri}}">{{package.repo.uri}}</a></td>
              </tr>
              <tr>
                <td style="white-space: nowrap;" class="text-right"><b>Last Updated</b></div>
                <td>
                  {% if package.snapshot.data.last_commit_time %}
                    <span class="label label-default"><span class="glyphicon glyphicon-time"></span> {{package.snapshot.data.last_commit_time}}
                  {% else %}
                    <span class="label label-warning">UNKNOWN
                  {% endif %}</span>
                </td>
              </tr>
              <tr>
                <td class="text-right"><b>Build Type</b></td>
                <td>
                  {% if package.data.pkg_type == 'catkin' %}
                    <span class="label label-info">
                  {% else %}
                    <span class="label label-default">
                  {% endif %}
                  {{package.data.pkg_type | upcase}}</span>
                </td>
              </tr>
              <tr>
                <td class="text-right"><b>Released</b></td>
                <td>
                  {% if package.snapshot.released %}
                    <span class="label label-primary"><span class="glyphicon glyphicon-flash"></span> RELEASED
                  {% else %}
                    <span class="label label-default">UNRELEASED
                  {% endif %}</span>
                </td>
              </tr>
              <tr>
                <td class="text-right"><b>Dev Status</b></td>
                <td>
                  {% if package.repo.status %}
                    {% if package.repo.status == 'maintained' %}
                      <span class="label label-primary">
                    {% elsif package.repo.status == 'developed' %}
                      <span class="label label-success">
                    {% elsif package.repo.status == 'end-of-life' %}
                        <span class="label label-danger">
                    {% endif %}
                    {{package.repo.status | upcase}}
                  {% else %}
                    <span class="label label-warning">UNMAINTAINED
                  {% endif %}</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="panel-heading"><h3 class="panel-title">Tags</h3></div>
          <div class="panel-body">
            {% assign n_tags = package.repo.tags.size %}
            {% if n_tags > 0 %}
              {% for tag in package.repo.tags %}<span class="label label-default">{{ tag }}</span> {% endfor %}
            {% else %}
              <em>No tags defined.</em>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h4 class="panel-title">Details</h4></div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><strong>Version:</strong> {{ package.data.version }}</li>
              <li><strong>License:</strong> {{ package.data.license }}</li>
            </ul>
          </div>
          <div class="panel-heading"><h4 class="panel-title">Maintainers</h4></div>
          <div class="panel-body">
            <ul class="list-unstyled">
              {% for m in package.data.maintainers %}
                <li>{{m | replace: '@', ' [AT] ' }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="panel-heading"><h4 class="panel-title">Authors</h4></div>
          <div class="panel-body">
            <ul class="list-unstyled">
              {% for a in package.data.authors %}
                <li>{{a | replace: '@', ' [AT] ' }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><span class="glyphicon glyphicon-file"></span> README</div>
          <div class="panel-body">
            {% if package.data.readme_rendered %}
              {{ package.data.readme_rendered }}
            {% else %}
              <em>No README found.</em>
              {% if package.snapshot.data.readme_rendered %}
                <em><a href="/r/{{package.repo.name}}/{{package.repo.id}}/#{{distro}}">See repository README.</a></em>
              {% else %}
                <em>No README in repository either.</em>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><span class="glyphicon glyphicon-list"></span> CHANGELOG</div>
          <div class="panel-body">
            {% if package.data.changelog_rendered %}
              {{ package.data.changelog_rendered }}
            {% else %}
              <em>No CHANGELOG found.</em>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="{{distro}}-tutorials">
  </div>

  <div class="tab-pane" id="{{distro}}-deps">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Depends On</h3>
      </div>
      <div class="panel-body">
          {% for p in package.data.deps %}
            <li><h4><a class="label label-primary" href="/p/{{p}}#{{distro}}">{{p}}</a></h4></li>
          {%endfor%}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Depended On By</h3>
      </div>
      <div class="panel-body">
        ...
      </div>
    </div>
  </div>

  <div class="tab-pane" id="{{distro}}-assets">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Launchfiles</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for f in package.data.launch_files %}
            <li><a href="{{package.data.browse_uri}}/{{f}}" target="_blank">{{f}}</a></li>
          {%endfor%}
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Messages</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for f in package.data.msg_files %}
            <li><a href="{{package.data.browse_uri}}/{{f}}" target="_blank">{{f}}</a></li>
          {%endfor%}
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Services</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for f in package.data.srv_files %}
            <li><a href="{{package.data.browse_uri}}/{{f}}" target="_blank">{{f}}</a></li>
          {%endfor%}
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Plugins</h3>
      </div>
      <div class="panel-body">
        ...
      </div>
    </div>

  </div>
</div>

<script>
// Javascript to enable link to tab
$(function() {
  var url = document.location.toString();
  if (url.match('#')) {
      $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
  } 

  // Change hash for page-reload
  $('.nav-tabs a').on('shown', function (e) {
      window.location.hash = e.target.hash;
  })
});
</script>
