
{% if page.page_index %}
<div class="row text-center">
    <ul class="pagination pagination-sm">
      <li class="{% if page.page_index == 1 %}disabled{% endif %}">
    <a href="{% if page.page_index == 1 %}#{% else %}/{{page.pager.base}}/page/{{ page.prev_page }}{{page.pager.post_ns}}{% endif %}">&laquo;</a>
      </li>
      {% for i in page.near_pages %}
      <li class="{% if i == page.page_index %}active{% endif %}">
      <a href="/{{page.pager.base}}/page/{{ i }}{{page.pager.post_ns}}">{{ i }}</a>
      </li>
      {% endfor %}
      <li class="{% if page.page_index == page.n_list_pages %}disabled{% endif %}">
      <a href="{% if page.page_index == page.n_list_pages %}#{% else %}/{{page.pager.base}}/page/{{ page.next_page }}{{page.pager.post_ns}}{% endif %}">&raquo;</a>
        </li>
    </ul>
</div>
{% endif %}
