<div>
  {% if page.instance %}
  {% include instance_switch.html %}
  {% endif %}
</div>
<div class="well well-sm">
  <div class="top-buffer">
    <h3>{{page.package_instance.name}} <small>package</small></h3>
    {% if page.instance.uri %}
    <a class="label label-default" href="{{ page.instance.uri }}">
      {{ page.instance.uri }}
    </a>
    {% endif %}
  </div>
  <div class="top-buffer">
    {% for tag in page.repo.tags %}<span class="label label-default">{{ tag }}</span> {% endfor %}
  </div>
  {% if page.available_distros %}
  <div class="top-buffer">
    {% include distro_switch.html %}
  </div>
  {% endif %}
</div>
