<div class="well well-sm">
  <div class="top-buffer">
    <h3><img style="width: 50px; margin-right: 5px;" src="/assets/package.png">{{page.package_name}} <small>package</small></h3>
  </div>
  <div class="top-buffer">
    {% for tag in page.repo.tags %}<span class="label label-default">{{ tag }}</span> {% endfor %}
  </div>
  {% if page.instance %}
    <div class="top-buffer">
      {% assign instance = page.instance %}
      {% include instance_switch.html %}
    </div>
  {% endif %}
  {% if page.available_distros %}
    <div class="top-buffer">
      {% include distro_switch.html %}
    </div>
  {% endif %}
</div>
