{% comment %}
Assumes distro and package are defined
{% endcomment %}

{% if package.data.deprecated and package.data.deprecated != '' %}
  <div class="alert alert-warning"><h3><strong>Package Deprecated</strong></h3> {{package.data.deprecated}}</div>
{% endif %}

<ul class="nav nav-tabs nav-justified" id="{{distro}}-tabs" style="margin-bottom:20px">
  <li class="better-tabs active">
    <a href="#{{distro}}-overview" data-toggle="tab">Overview</a>
  </li>
  <li class="better-tabs">
    {% assign n_launch = package.data.launch_data | size %}
    {% assign n_msgs = package.data.msg_files | size %}
    {% assign n_srvs = package.data.srv_files | size %}
    {% assign n_plugins = package.data.plugin_data | size %}
    {% assign n_assets = n_launch | plus: n_srvs | plus: n_msgs | plus: n_plugins %}
    <a href="#{{distro}}-assets" data-toggle="tab"><span class="label label-{%if n_assets == 0%}default{%else%}primary{%endif%}">{{n_assets}}</span> Assets</a>
  </li>
  <li class="better-tabs">
    {% assign n_deps = package.data.deps | size %}
    <a href="#{{distro}}-deps" data-toggle="tab"><span class="label label-{%if n_deps == 0%}default{%else%}primary{%endif%}">{{n_deps}}</span> Dependencies</a>
  </li>
  <li class="better-tabs">
    {% assign n_tutorials = package.data.wiki.tutorials | size %}
    <a href="#{{distro}}-tutorials" data-toggle="tab"><span class="label label-{%if n_tutorials == 0%}default{%else%}primary{%endif%}">{{n_tutorials}}</span> Tutorials</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="{{distro}}-overview">
    <div class="row">
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Package Description</h3></div>
          <div class="panel-body">
            {{ package.data.description}}
          </div>
          <div class="panel-heading"><h4 class="panel-title">Package Summary</h4></div>
          <div class="panel-body" style="overflow-x: auto">
            <table class="table table-condensed">
              <tr>
                <td style="width:100px;" class="text-right"><strong>Tags</strong></td>
                <td>
                  {% assign n_tags = package.repo.tags.size %}
                  {% if n_tags > 0 %}
                    {% for tag in package.repo.tags %}<span class="label label-default">{{ tag }}</span> {% endfor %}
                  {% else %}
                    <em>No category tags.</em>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="text-right"><strong>Version</strong></td>
                <td>{{ package.data.version }}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>License</strong></td>
                <td>{{ package.data.license }}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Buildtool</strong></td>
                <td>
                  {% if package.data.pkg_type == 'catkin' %}
                    <span class="label label-info">
                  {% else %}
                    <span class="label label-default">
                  {% endif %}
                    {{package.data.pkg_type | upcase}}</span>
                </td>
              </tr>
              <tr>
                <td class="text-right"><strong>Use</strong></td>
                <td>
                {% if package.data.deprecated and package.data.deprecated != '' %}
                  <span class="label label-warning">DEPRECATED</span>
                {%else%}
                  <span class="label label-success">RECOMMENDED</span>
                {%endif%}
                </td>
              </tr>
            </table>
          </div>
          <div class="panel-heading"><h3 class="panel-title">Repository Summary</h3></div>
          <div class="panel-body" style="overflow-x: auto">
            {% assign repo = package.repo %}
            {% assign snapshot = package.snapshot %}
            {% include repo_summary.html %}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h4 class="panel-title">Maintainers</h4></div>
          <div class="panel-body">
            {% assign n_maintainers = package.data.maintainers | size %}
            {% if n_maintainers > 0 %}
              <ul class="list-unstyled">
                {% for m in package.data.maintainers %}
                  <li>{{m | replace: '@', ' [AT] ' }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <em>No known maintainers.</em>
            {% endif %}
          </div>
          <div class="panel-heading"><h4 class="panel-title">Authors</h4></div>
          <div class="panel-body">
            {% assign n_authors = package.data.authors | size %}
            {% if n_authors > 0 %}
              <ul class="list-unstyled">
                {% for a in package.data.authors %}
                  <li>{{a | replace: '@', ' [AT] ' }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <em>No additional authors.</em>
            {% endif %}
          </div>
          <div class="panel-heading"><h4 class="panel-title">Additional Links</h4></div>
          <div class="panel-body">
            {% assign n_urls = package.data.urls | size %}
            {% if n_urls > 0 %}
              <ul class="list-unstyled">
                {% for url in package.data.urls %}
                  <li><a href="{{url.uri}}">{%if url.type%}{{url.type | capitalize}}{%else%}{{url.domain}}{%endif%}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <em>No additional links.</em>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><span class="glyphicon glyphicon-file"></span> README</div>
          <div class="panel-body">
            {% if package.data.readme_rendered %}
              {{ package.data.readme_rendered }}
            {% else %}
              <em>No README found.</em>
              {% if package.snapshot.data.readme_rendered %}
                <em><a href="/r/{{package.repo.name}}/{{package.repo.id}}/#{{distro}}">See repository README.</a></em>
              {% else %}
                <em>No README in repository either.</em>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><span class="glyphicon glyphicon-list"></span> CHANGELOG</div>
          <div class="panel-body">
            {% if package.data.changelog_rendered %}
              {{ package.data.changelog_rendered }}
            {% else %}
              <em>No CHANGELOG found.</em>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="{{distro}}-tutorials">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Wiki Tutorials</h3>
      </div>
      <div class="panel-body">
        {% if n_tutorials > 0 %}
          <ul>
            {% for t in package.data.wiki.tutorials %}
              <li><a href="http://wiki.ros.org/{{t[1]}}" target="_blank">{{t[0]}}</a></li>
            {% endfor %}
          </ul>
          <br>
        {% endif %}
        <em>See <a href="http://wiki.ros.org/{{package.name}}/Tutorials" target="_blank">ROS Wiki Tutorials</a> for more details.</em>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Source Tutorials</h3>
      </div>
      <div class="panel-body">
        <em>Not currently indexed.</em>
      </div>
    </div>

  </div>

  <div class="tab-pane" id="{{distro}}-deps">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Depends On</h3>
      </div>
      <div class="panel-body">
          {% for p in package.data.deps %}
            <li><h4><a class="label label-primary" href="/p/{{p}}#{{distro}}">{{p}}</a></h4></li>
          {%endfor%}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Depended On By</h3>
      </div>
      <div class="panel-body">
        <em>Not currently computed.</em>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="{{distro}}-assets">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Launch files</h3>
      </div>
      <div class="panel-body">
        {% if n_launch > 0 %}
          <ul>
            {% for f in package.data.launch_data %}
              <li><a href="{{package.data.browse_uri}}/{{f.relpath}}" target="_blank">{{f.relpath}}</a>
                <ul class="list-unstyled">
                  {% if f.comment %}
                    <li><em>{{f.comment}}</em></li>
                  {% endif %}
                  <li>
                    <ul>
                      {% for a in f.args %}
                        {% unless a.value %}
                          <li><strong>{{a.name}}</strong> {%if a.default%}<em>&#91;default: {{a.default}}&#93;{%endif%} {% if a.doc%} &#8212; {{a.doc}}{%endif%}</em></li>
                        {% endunless %}
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </li>
            {%endfor%}
          </ul>
        {% else %}
          <em>No launch files found</em>
        {% endif %}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Messages</h3>
      </div>
      <div class="panel-body">
        {% if n_msgs > 0 %}
          <ul>
            {% for f in package.data.msg_files %}
              <li><a href="{{package.data.browse_uri}}/{{f}}" target="_blank">{{f}}</a></li>
            {%endfor%}
          </ul>
        {% else %}
          <em>No message files found.</em>
        {% endif %}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Services</h3>
      </div>
      <div class="panel-body">
        {% if n_srvs > 0 %}
          <ul>
            {% for f in package.data.srv_files %}
              <li><a href="{{package.data.browse_uri}}/{{f}}" target="_blank">{{f}}</a></li>
            {%endfor%}
          </ul>
        {% else %}
          <em>No service files found</em>
        {% endif %}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Plugins</h3>
      </div>
      <div class="panel-body">
        {% if n_plugins > 0 %}
          <ul>
            {% for f in package.data.plugin_data %}
              <li><a href="{{package.data.browse_uri}}/{{f.file}}" target="_blank">{{f.name}}</a></li>
            {%endfor%}
          </ul>
        {% else %}
          <em>No plugins found.</em>
        {% endif %}
      </div>
    </div>

  </div>
</div>

<script>
// Javascript to enable link to tab
$(function() {
  var url = document.location.toString();
  if (url.match('#')) {
      $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
  }

  // Change hash for page-reload
  $('.nav-tabs a').on('shown', function (e) {
      window.location.hash = e.target.hash;
  });

  $("a[href^=#]").on("click", function(e) {
     e.preventDefault();
     history.pushState({}, "", this.href);
  });

});
</script>
