
<div class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <div class="dropdown">
      <! -- TODO: add disabled when only 1 version is known -->
      <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        <span class="pull-left">
          <span class="badge">17</span>
          Alternate Version(s)
        </span>
        <span class="pull-right"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" role="menu">

        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
          repo1
          <span class="pull-right"><span class="label label-default">released</span></span>
        </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">repo2</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
          repo3
          <span class="pull-right"><span class="label label-primary">open pulls</span></span>
        </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">repo4</a></li>
      </ul>
    </div>
  </div>
</div>   

<!--
<div class="panel-group" id="accordion" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Other Versions
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">.col-xs-6</div>
          <div class="col-xs-6">.col-xs-6</div>
        </div>
        
      </div>
    </div>
  </div>
</div>

-->
