
<ul class="nav nav-tabs nav-justified" id="distro-switch">

  <!-- Current distros -->
  {% for distro in site.distros %}
  <li role="presentation"><a href="#{{ distro }}" role="tab" data-toggle="tab">{{ distro }}</a></li>
  {% endfor %}

  <!-- Older distros -->
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Older <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {% for distro in site.old_distros %}
        <li><a href="#{{ distro }}">{{ distro }}</a></li>
      {% endfor %}
    </ul>
  </li>

</ul>
