---
layout: default
---

<div class="container-fluid" style="margin-top: 20px">
  <div class="container-fluid">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/packages">Packages</a></li>
        <li class="active">{{page.package_instances.name}}</li>
      </ol>
    </div>
    <div class="row">
      {% include distro_switch.html %}
    </div>
    <div class="row">
      &nbsp;
    </div>
    <div class="row">
      {% for distro in page.all_distros %}
        <div class="distro distro-{{distro}}">
        {% if page.available_distros[distro] or page.available_older_distros[distro] %}
          {% assign package = page.package_instances.snapshots[distro] %}
          {% assign instance = page.package_instances.repos[distro] %}
          {% assign show_repo = false %}
          {% include package_header.html %}
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% for distro in page.all_distros %}
  <div class="distro distro-{{distro}}">
    <div class="container-fluid">
      {% if page.available_distros[distro] or page.available_older_distros[distro] %}
        {% assign package = page.package_instances.snapshots[distro] %}
        {% include package_body.html %}
      {% else %}
          <div class="alert alert-warning">No version for distro <strong>{{ distro }}</strong>. Known supported distros are highlighted in the buttons above.</div>
      {% endif %}
    </div>
  </div>
{% endfor %}

<script src="/js/distro_switch.js"></script>

