---
layout: default
---

<div class="container-fluid" style="margin:20px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Packages</li>
    </ol>
  </div>
  <div class="row">
    {% include distro_switch.html %}
  </div>
  <div class="row">
    &nbsp;
  </div>
  {% for distro in page.all_distros %}
    <div class="row distro distro-{{distro}}">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Packages </h3></div>
        <div class="table-responsive">
          <table class="table table-condensed table-striped table-hover">
            <thead>
              <tr>
                <th style="text-align: center;"><span class="glyphicon glyphicon-th"></span></th>
                <th style="text-align: center;"><span class="glyphicon glyphicon-flash"></span></th>
                <th style="text-align: center;"><span class="glyphicon glyphicon-file"></span></th>
                <th style="text-align: center;"><span class="glyphicon glyphicon-time"></span></th>
                <th>Name</th>
                <th width="100%">Description</th>
              </tr>
            </thead>
            <tbody>
              {% for package in page.list_alpha %}
                {% assign r = package[1].repos[distro].snapshots[distro] %}
                {% assign p = package[1].snapshots[distro] %}
                {% assign n_instances = package[1].instances | size %}
                <tr>
                  <td title="View Package Instances" data-toggle="tooltip" data-placement="left" align="center">
                    <a href="/packages/{{package[0]}}" class="label label-{% if n_instances > 1 %}primary{% else %}default{% endif %}">
                        {{n_instances}}
                    </a>
                  </td>
                  {% if p %}
                    {% if r.released %}
                      <td class="text-center">
                        <span title="Released in {{distro}}" data-toggle="tooltip" data-placement="left" class="glyphicon glyphicon-flash"></span>
                      </td>
                    {% else %}
                      <td title="Not released in {{distro}}" data-toggle="tooltip" data-placement="left" class="text-center">
                        <span class="glyphicon glyphicon-none"></span>
                      </td>
                    {% endif %}
                    {% if p.data.readme %}
                      <td title="Has README" data-toggle="tooltip" data-placement="left" align="center">
                        <span class="glyphicon glyphicon-file"></span>
                      </td>
                    {% else %}
                      <td title="No README" data-toggle="tooltip" data-placement="left" align="center">
                        <span class="glyphicon glyphicon-none"></span>
                      </td>
                    {% endif %}
                    </td>
                    <td>
                      <span class="label label-default">{{ r.data.last_commit_time | date: "%F" }}</span>
                    </td>
                    <td>
                      <a href="/p/{{package[0]}}">{{ package[0] }}</a>
                    </td>
                    <td>
                      <div class="truncate">
                        <div class="spacer">{{ p.data.description }}</div>
                        <div class="content">{{ p.data.description }}</div>
                        <span>&nbsp;</span>
                      </div>
                    </td>
                  {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <a class="inactive" href="/p/{{package[0]}}">{{ package[0] }}</a>
                    </td>
                    <td></td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="row text-center">
    {% include package_pager.html %}
  </div>
</div>

<script src="/js/distro_switch.js"></script>
