---
layout: default
---

<div class="container-fluid" style="margin:20px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/packages">Packages</a></li>
      <li><a href="/packages/{{ page.package_instance.name }}">{{page.package_instance.name}}</a></li>
      <li class="active">{{page.instance.name}}</li>
    </ol>
  </div>
  <div class="row">
    {% include repo_info.html %}
  </div>
  <div class="row">
    {% for distro in page.all_distros %}
      <div class="distro distro-{{distro}}">
        {% if page.package_instance.distros[distro] %}
          {% assign package = page.package_instance.distros[distro] %}
          <div class="panel panel-default">
            <div class="panel-heading">README</div>
            <div class="readme-{{ page.repo.type }}" style="margin: 20px">
              {{ package.readme_rendered }}
            </div>
          </div>
        {% else %}
        <em>No branch for distro <strong>{{ distro }}</strong>. Known supported distros are highlighted in the buttons above.</em>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<script src="/js/distro_switch.js"></script>
