---
layout: default
---

<div class="container-fluid" style="margin:20px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Search</li>
    </ol>
  </div>
  <div class="hide-when-loaded" class="row">
    <h3>Loading Index...</h3>
    <div class="progress">
      <div id="index-loader-bar" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 100%">
      </div>
    </div>
  </div>
  <div id="search-row" class="row show-when-loaded" style="display: none">
    <div id="search">
      <form action="/search" method="get">
        <div class="input-group">
          <input id="search-query" autocomplete="off" type="text" class="form-control" name="q" placeholder="Search ROS Packages">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>
  <div class="row show-when-loaded" style="display: none">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Packages </h3></div>
      <div class="table-responsive">
        <table id="search-results" class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th style="text-align: center;"><span class="glyphicon glyphicon-flash"></span></th>
              <th style="text-align: center;"><span class="glyphicon glyphicon-file"></span></th>
              <th style="text-align: center;"><span class="glyphicon glyphicon-time"></span></th>
              <th>Distro</th>
              <th>Name</th>
              <th>Repo</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="entries">
          </tbody>
        </table>
      </table>
    </div>
  </div>
  <div class="row text-center">
    {% include package_pager.html %}
  </div>
</div>

{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
      <tr>
        {{#released}}
          <td class="text-center">
            <span title="Released" data-toggle="tooltip" data-placement="left" class="glyphicon glyphicon-flash"></span>
          </td>
        {{/released}}
        {{^released}}
          <td title="Not released" data-toggle="tooltip" data-placement="left" class="text-center">
            <span class="glyphicon glyphicon-none"></span>
          </td>
        {{/released}}
        {{#readme}}
          <td title="Has README" data-toggle="tooltip" data-placement="left" align="center">
            <span class="glyphicon glyphicon-file"></span>
          </td>
        {{/readme}}
        {{^readme}}
          <td title="No README" data-toggle="tooltip" data-placement="left" align="center">
            <span class="glyphicon glyphicon-none"></span>
          </td>
        {{/readme}}
        <td><span class="label label-default">{{last_commit_time}}</span></td>
        <td><span class="label label-default">{{distro}}</span></td>
        <td><a href="{{url}}">{{name}}</a></td>
        <td><a href="/r/{{repo_name}}/{{instance}}">{{instance}}</a></td>
        <td>
          {{description}}
        </td>
      </tr>
  {{/entries}}
</script>
{% endraw %}
          {% comment %}<div class="truncate">{% endcomment %}
            {% comment %}<div class="spacer">{{description}}</div>{% endcomment %}
            {% comment %}<div class="content">{{description}}</div>{% endcomment %}
            {% comment %}<span>&nbsp;</span>{% endcomment %}
          {% comment %}</div>{% endcomment %}

<script src="/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/mustache.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="/js/date.format.js" type="text/javascript" charset="utf-8"></script>-->
<script src="/js/URI.js" type="text/javascript" charset="utf-8"></script>

<script src="/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
$(function() {
  console.log('ready');
  $('#search-query').lunrSearch({
    indexDataUrl: '/search.json',             // URL of the `search.json` index data for your site
    indexUrl: '/index.json',
    results:  '#search-results',          // jQuery selector for the search results container
    entries:  '.entries',                 // jQuery selector for the element to contain the results list, must be a child of the results element above.
    template: '#search-results-template',  // jQuery selector for the Mustache.js template
    ready: (function() {
            console.log('done indexing');
            $('.hide-when-loaded').hide();
            $('.show-when-loaded').show();
            console.log('display toggled');
            })
    });
  console.log('done loading');
});
</script>

