---
layout: default
---

<div class="container-fluid" style="margin:20px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Packages</li>
    </ol>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Packages </h3></div>
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th style="text-align: center;"><span class="glyphicon glyphicon-th"></span></th>
              <th>Name</th>
              <th>Last Updated</th>
              <th>Released</th>
            </tr>
          </thead>
          <tbody>
          {% for package in page.list_alpha %}
          <tr>
            <td data-toggle="tooltip" data-placement="left" title="View Package Instances">
              <span class="pull-right">
                {% assign n_instances = package[1].instances | size %}
                <a href="/packages/{{package[0]}}" class="label label-{% if n_instances > 1 %}primary{% else %}default{% endif %}">
                    {{n_instances}}
                </a>
              </span>
            </td>
            <td><a href="/p/{{package[0]}}">{{ package[0] }}</a></td>
            <td>sometime</td>
            <td>sure, why not?</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </table>
    </div>
  </div>
  <div class="row text-center">
    {% include package_pager.html %}
  </div>
</div>
