---
layout: default
---

<div class="container-fluid" style="margin:20px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Search</li>
    </ol>
  </div>
  <div class="panel panel-default">
    <script>
      (function() {
        var cx = '005148514534695737493:npp-_-pindk';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
      </script>
    <gcse:search></gcse:search>
  </div>
</div>
