---
layout: default
---

<div class="container-fluid" style="margin-top:20px">
  <div class="container-fluid">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        {% for bc in page.breadcrumbs %}
          <li><a href="/{{bc}}">{{bc}}</a></li>
        {% endfor %}
        <li class="active">{{ page.title }}</li>
      </ol>
    </div>
    <div class="row">
      {{ content }}
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(
    function() {
      $('#toc').toc({
        title: '',
        listType: 'ul',
        showSpeed: 0,
        headers: 'h2, h3' });
});
</script>
