---
layout: default
---

<div class="container-fluid" style="margin:20px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/repos">Repos</a></li>
      <li class="active">{{ page.repo.name }}</li>
    </ol>
  </div>

  <div class="row">
    {% include distro_switch.html %}
  </div>
  <div class="row">
    {% include repo_switch.html %}
  </div>
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <ul class="nav nav-tabs" id="contents">
      <!-- Current distros -->
      <li role="presentation" class="active"><a href="#readme">README</a></li>
      <li role="presentation" class="disabled"><a href="#packages">
        Packages
      </a></li>
      <li role="presentation" class="disabled"><a href="#repo-info">
        Repository Info
      </a></li>
      <li role="presentation" class="disabled"><a href="#repo-info">
        Related
      </a></li>
    </ul>
  </div>
  <div class="row" style="margin: 20px">
    <div id="distro-switch-content" class="tab-content">
    {% for variants in page.distro_variants %}
      <div id="{{ variants[0] }}" class="tab-pane fade out">
        {% for v in variants[1] %}
          {{ v.readme_rendered }}
        {% endfor %}
        {% if variants[1].size == 0 %}
          <p><em>No known version for {{variants[0]}}.</em></p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="row">
    &nbsp;
  </div>
</div>
