---
layout: default
---

<div class="container-fluid" style="margin:20px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Repos</li>
    </ol>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Repositories</h3></div>
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th><span class="pull-right"> <span class="glyphicon glyphicon-th"></span></span></th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
          {% for repo in site.collections.repos.docs %}
            <tr>
              <td data-toggle="tooltip" data-placement="left" title="View Repo Instances" class="pull-right">
                {% assign n_instances = repo.instances | size %}
                <a href="/repos/{{repo.name}}"class="label label-{% if n_instances > 1 %}primary{% else %}default{% endif %}">
                    {{n_instances}}
                </a>
              </td>
              <td><a href="/r/{{repo.name}}">{{ repo.name }}</a></td>
              <td>{{ repo.description }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
