---
layout: default
---

<div class="container-fluid" style="margin:20px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Repos</li>
    </ol>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Repositories</h3></div>
        <table class="table table-condensed table-striped table-hover">
          {% for repo in site.collections.repos.docs %}
            <tr>
              <td data-toggle="tooltip" data-placement="left" title="View Repo Instances" class="pull-right">
                <a href="/repos/{{repo.name}}"><span class="glyphicon glyphicon-th"></span></a></td>
              <td><a href="/r/{{repo.name}}">{{ repo.name }}</a></td>
              <td>{{ repo.description }}</td>
            </tr>
          {% endfor %}
        </table>
    </div>
  </div>
</div>
