---
layout: default
---

<div class="container-fluid" style="margin:20px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/repos">Repos</a></li>
      <li class="active">{{ page.repo.name }}</li>
    </ol>
  </div>
  <div class="row">
    {% include repo_info.html %}
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Instances 
          <span class="pull-right">
            <a href="https://github.com/rosindex/rosindex.github.io/edit/source/_repos/{{ page.repo.name }}.md">
              <button type="button" class="btn btn-xs btn-success">
                <span class="glyphicon glyphicon-plus"></span> Submit New Instance
              </button>
            </a>
          </span>
      </h3></div>
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th><span class="pull-right">URI</span></th>
            </tr>
          </thead>
          <tbody>
          {% for instance in page.instances %}
            <tr>
              <td><a href="/r/{{page.repo.name}}/{{instance[0]}}">{{ instance[0] }}</a></td>
              <td class="filterable-cell"><a class="label label-default pull-right" href="{{instance[1].uri}}">{{ instance[1].uri }}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>

