---
layout: default
---

<div class="container-fluid" style="margin:20px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/repos">Repos</a></li>
      <li><a href="/repos/{{ page.repo.name }}">{{page.repo.name}}</a></li>
      <li class="active">{{page.instance.name}}</li>
    </ol>
  </div>
  <div class="row">
    {% include repo_info.html %}
  </div>
  <div class="row">
    {% for distro in page.all_distros %}
      <div class="distro distro-{{distro}}">
        {% if page.instance.distros[distro] %}
          <div class="panel panel-default">
            <div class="panel-heading">Packages</div>
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Version</th>
                </tr>
              </thead>
              <tbody>
              {% for p in page.instance.distros[distro].packages %}
                <tr>
                  <td><a href="/p/{{p[1].name}}/{{page.instance.name}}">{{ p[1].name }}</a></td>
                  <td>{{ p[1].version }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">README</div>
            <div class="readme-{{ page.repo.type }}" style="margin: 20px">
              {{ page.instance.distros[distro].readme_rendered }}
            </div>
          </div>
        {% else %}
        <em>No branch for distro <strong>{{ distro }}</strong>. Known supported distros are highlighted in the buttons above.</em>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<script src="/js/distro_switch.js"></script>
