---
layout: default
---

<div class="container-fluid" style="margin-top:20px">
  <div class="container-fluid">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Repos</li>
      </ol>
    </div>
    <div class="row">
      {% include distro_switch.html %}
    </div>
    <div class="row">
      &nbsp;
    </div>
    {% for distro in page.all_distros %}
      <div class="row distro distro-{{distro}}">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Repositories</h3></div>
          <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
              <thead>
                <tr>
                  <th style="text-align: center;"><span class="glyphicon glyphicon-th"></span></th>
                  <th style="text-align: center;">
                    {% if page.sort_id == 'released' %}
                      <span class="glyphicon glyphicon-flash selected-sort-label"></span>
                    {% else %}
                      <a href="/repos/page/1/released" class="unselected-sort-label glyphicon glyphicon-flash"></a>
                    {% endif %}
                  </th>
                  <th style="text-align: center;">
                    {% if page.sort_id == 'doc' %}
                      <span class="glyphicon glyphicon-file selected-sort-label"></span>
                    {% else %}
                      <a href="/repos/page/1/doc" class="unselected-sort-label glyphicon glyphicon-file"></a>
                    {% endif %}
                  </th>
                  <th style="text-align: center;">
                    {% if page.sort_id == 'time' %}
                      <span class="glyphicon glyphicon-time selected-sort-label"></span>
                    {% else %}
                      <a href="/repos/page/1/time" class="unselected-sort-label glyphicon glyphicon-time"></a>
                    {% endif %}
                  </th>
                  <th style="text-align: left;">
                    {% if page.sort_id == '' %}
                      <span class="selected-sort-label">Name</span>
                    {% else %}
                      <a class="unselected-sort-label" href="/repos/page/1/name">Name</a>
                    {% endif %}
                  </th>
                  <th width="100%">Packages</th>
                </tr>
              </thead>
              <tbody>
              {% for repo in page.list %}
                {% assign instance = repo[1].default %}
                {% assign n_instances = repo[1].instances | size %}
                <tr>
                  <td data-toggle="tooltip" data-placement="left" title="View Repo Instances" align="center">
                    <a href="/repos/{{repo[0]}}"class="label label-{% if n_instances > 1 %}primary{% else %}default{% endif %}">
                        {{n_instances}}
                    </a>
                  </td>
                  {% assign r = instance.snapshots[distro] %}
                  {% if r.version %}
                    {% if r.released %}
                      <td class="text-center">
                        <span title="Released in {{distro}}" data-toggle="tooltip" data-placement="left" class="glyphicon glyphicon-flash"></span>
                      </td>
                    {% else %}
                      <td title="Not released in {{distro}}" data-toggle="tooltip" data-placement="left" class="text-center">
                        <span class="glyphicon glyphicon-none"></span>
                      </td>
                    {% endif %}
                    {% if r.data.readme %}
                      <td title="Has README" data-toggle="tooltip" data-placement="left" align="center">
                        <span class="glyphicon glyphicon-file"></span>
                      </td>
                    {% else %}
                      <td title="No README" data-toggle="tooltip" data-placement="left" align="center">
                        <span class="glyphicon glyphicon-none"></span>
                      </td>
                    {% endif %}
                    <td>
                      {% assign date_str = r.data.last_commit_time %}
                      <span class="label label-default">{{ date_str }}</span>
                    </td>
                    <td>
                      <a href="/r/{{repo[0]}}">{{ repo[0] }}</a>
                    </td>
                    <td>
                      {% for p in r.packages %}
                        {% assign labeled_package = p[1] %}
                        <a href="/p/{{p[0]}}/{{default}}" class="label label-primary pkg-label">{% include peer_label.html %}</a>
                      {% endfor %}
                    </td>
                  {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <a class="inactive" href="/r/{{repo[0]}}">{{ repo[0] }}</a>
                    </td>
                    <td></td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="row text-center">
      {% include package_pager.html %}
    </div>
  </div>
</div>


<script src="/js/distro_switch.js"></script>
