---
layout: default
---

<div class="container-fluid" style="margin-top: 20px">
  <div class="container-fluid">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/repos">Repos</a></li>
        <li class="active">{{ page.repo_instances.name }}</li>
      </ol>
    </div>
    <div class="row">
      <div class="well well-sm">
        <div>
          <h3><img style="width: 50px; margin-right: 5px;" src="/assets/repo.png">{{page.repo_instances.name}} <small>repo instances</small></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Instances 
            <span class="pull-right">
              <a
                href="https://github.com/rosindex/rosindex.github.io/edit/source/_repos/{{ page.repo_instances.name }}.md">
                <button type="button" class="btn btn-xs btn-success">
                  <span class="glyphicon glyphicon-plus"></span> Submit New Instance
                </button>
              </a>
            </span>
        </h3></div>
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th><span class="pull-right">URI</span></th>
              </tr>
            </thead>
            <tbody>
            {% for instance in page.repo_instances.instances %}
              <tr>
                <td><a href="/r/{{page.repo_instances.name}}/{{instance[0]}}">{{ instance[0] }}</a></td>
                <td class="filterable-cell"><a class="label label-primary pull-right" href="{{instance[1].uri}}">{{ instance[1].uri }}</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</div>

